services:

  backend:
    build: ./backend
    container_name: red-tetris-backend
    restart: always
    networks:
      - public
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
    depends_on:
      - postgres
    ports:
      - "3000:3000"

  postgres:
    image: postgres:16
    container_name: red-tetris-postgres
    restart: always
    networks:
      - public
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  frontend:
    build:
      context: ./frontend
      args:
        VITE_SOCKET_URL: ${VITE_SOCKET_URL}
    container_name: red-tetris-frontend
    restart: always
    networks:
      - public
    environment:
      VITE_HOST_NAME: ${VITE_HOST_NAME}
      VITE_SOCKET_URL: ${VITE_SOCKET_URL}
    ports:
      - "8080:80"

  bot-service:
    build: ./bot
    container_name: red-tetris-bot
    restart: always
    networks:
      - public
    depends_on:
      - backend

networks:
  public:
    driver: bridge

volumes:
  postgres-data:
    driver: local
